* {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.bg {
    display: inline-block;
    height: 40px;
    width: 250px;
    text-align: center;
    line-height: 40px;
    color: white;
}

.pg {
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 70px;
}

/* 标签选择器 直接写标签名 */
/* class类选择器(.+自定义名) 在标签中调用直接打class */
.yyb {
    color: #9e1717;
    font-style: 0pz;
    font-weight: 20pz;
    font-size: 12pz;
    font-family: 'Courier New', Courier, monospace;
    /*字体符合属性严格按照上述顺序  */
}

/* 严格按照link visited hover active */

.maodian {
    display: inline-block;
    height: 40px;
    width: 250px;
    text-align: center;
    line-height: 40px;
    color: white;
    background-image: url(bg1.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 70px;
}

a {
    text-decoration: none;
    color: black;
}

div p a:hover {
    background-color: #ff6700;
    color: #9e1717;
}

/* id选择其（#+自定义）只能调用一次 (id调用)*/
.bj {
    width: 1000px;
    height: 500px;
    margin: 0px auto;
    background-image: url(./tupian/1698463321273.jpg);
    background-repeat: no-repeat;
    background-size: 1000px 500px;
    border-radius: 10px;
}

.ppp {
    width: 250px;
    height: 400px;
    background-color: rgb(48, 48, 45);
    position: absolute;
    float: left;
    border-radius: 10px;
    margin-left: 10px;
    position: fixed;
    top: 150px;
}

.sb {
    background-image: url(微信图片_20231031182844.jpg);
    background-repeat: no-repeat;
}

.nav {
    height: 50px;
    border-top: 3px solid #ff8500;
    border-bottom: 1px solid #edeef0;
    background-color: white;
    line-height: 41px;
    text-align: center;
    font-size: 30px;
}

.jianli {
    height: 700px;
    width: 600px;
    margin: 10px auto;
}

.jieshao {
    width: 600px;
    height: 600px;
    text-align: left;
    background-color: #f3efefce;
    padding: 10px;
    border-radius: 10px;
}

.zhaopian {

    width: 500px;
    height: 600px;
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 2px solid rgb(176, 227, 204);
    background-color: #f5f5f5;
    border-radius: 0 0 10px 10px;
}

.dzp {
    text-align: center;
    height: auto;
    width: auto;
}

.xl {
    background-color: rgba(215, 215, 215, 0.546);
    width: 600px;
    height: auto;
    margin: 10px auto;
    border-radius: 10px;
    padding: 10px;
}